.signup-link, .login-link {
	color: 	#DAA520;
	transition: all .5s ease; 
}

.non-auth-link{
	font-size: 24px;
}

.landingLogo{
	font-size:72px;
}

.signup-link:hover, .login-link:hover {
	color: 	#fff !important;
	opacity: 5;
	text-decoration: none;
	transition: all .5s ease; 
}

.signup-link:visited, .login-link:visited {
	color: 	#c4941d;
	opacity: 5;
	text-decoration: none !important;
	transition: all .5s ease; 
}

.employers-img{
	background: url('./images/city.jpg') no-repeat;
    background-position: center; 
    min-height: 500px;
    height: 500px;

}

.seeker-img{
	background: url('./images/jobseeker.jpg') no-repeat;
    background-position: center; 
    min-height: 500px;
    height: 500px;
}

.about-img{
	background: url('./images/blur.jpg') no-repeat;
    background-position: center; 
    min-height: 500px;
    /*height: 500px;*/
}

.collab-img{
	background: url('./images/jl.jpg') no-repeat;
    background-position: center; 
    min-height: 500px;
    height: 500px;
    background-size: cover;
	background-position: center 40%;

}

.dark-bg{
	background-color: #363738 ;
	min-height: 500px;
	font-family: 'Lobster', cursive;
	color:#DAA520;
}

.opacity{
	background-color: hsla(340, 2%, 34%, 0.82);
	height: 100%;
	color: 	#DAA520;
	font-family: 'Lobster', cursive;
	min-height: 500px;
}

ul li{
	border: transparent !important;
}

.inner{
	padding: 1%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.about-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;
	padding:4%;
}

.icons{
	background-color:#DAA520;	
}

.about-container img{
	height: 100px;
	width: 100px;
	object-fit: cover;
}

.recruiters img {
  height:100px;
  width: 100px;
  object-fit: cover;
}

.job-seeker img {
  height:100px;
  width: 100px;
  object-fit: cover;	
}

.collabs img{
	height:100px;
	width: 100px;
	object-fit: cover;
}

.icon-wrapper-view{
	background: url('./images/view.png') no-repeat center center;
	background-color:#DAA520;	
	height:100px;
	width: 100px;
	border-radius: 50%;	
}

.icon-wrapper-collab{
	background: url('./images/collab.png') no-repeat center center;
	background-color:#DAA520;	
	height:100px;
	width: 100px;
	border-radius: 50%;	
}