.company-info{
	padding:2%;
}

.post-box{
	padding:2%;
	color:#363738;
	background-color:#D3D3D3;
}

.job-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;
}

.dark-bg-company-info{
	background-color: #363738;
}

.table-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;	
}

.job-form{
	padding-top: 2%;
	padding-bottom: 2%;
}


.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 1px !important;
    border-top:none !important;
}

.table>tbody+tbody {
    border: none !important;
}

.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
    background-color: transparent !important;
}