.company-info{
	padding:2%;
}

.post-box{
	padding:2%;
	color:#363738;
	background-color:#D3D3D3;
}

.job-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;
}

.dark-bg-company-info{
	background-color: #363738;
}

.table-text{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 18px;	
}

.job-form{
	padding-top: 2%;
	padding-bottom: 2%;
}

