.navbar{
	margin-bottom: 0 !important;
	background-color: #363738;
	font-family: 'Krona One', sans-serif;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


.navbar-inverse .navbar-brand {
	color: 	#DAA520 !important;
}

.logged-in-as{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #fff;
}

.container {
	width: 100% !important;
}

.logo{
	font-size: 32px !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: transparent !important;
}

.logged-in-as-navbar{
	background-color: transparent !important;
	border-color: transparent !important;
	background: none !important;
	background-image: none !important;
}