.navbar{
	margin-bottom: 0 !important;
	background-color: #363738;
	font-family: 'Lobster', cursive;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}


.navbar-inverse .navbar-brand {
	color: 	#DAA520 !important;
}

.logged-in-as{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #fff;
}
